.action-items__container {
    display: flex;
    flex-direction: column;
    background-color: #e8dcdc;
    padding-top: 0.5rem;
    min-height: 10vh;
}

.action-items__header {
    display: flex;
    justify-content: space-evenly;
}

.action-items__body {
    margin-left: 1rem;
}

.header__input {
    /*box-shadow: 0px 0px 8px -3px #000000;*/
}

.header__input:focus {
    outline: none;
    /*box-shadow: 0 0 10px #719ECE;*/

}
